.blog-content{
	font-family: 'Poppins', sans-serif;
}

.blog-content h2{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 400;
}


.blog-content p{
	font-size: 16px;
	color: #999;
	margin-bottom: 16px;
}

.blog-content img{
	margin-bottom: 5px;
	margin-top: 5px;
	max-width: 100%;
}

