.comment{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.comment .comment-grid{
    display: flex;
}

.comment .image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.comment .image img{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.comment .info, .comment .content h3{
    margin-left: 15px;
    margin-bottom:20px;
}

.comment .content .info span{
    display: block;
    color: #CCC;
    margin-top: 20px;
    font-size: 13px;
}

.comment .content .info p{
    color: #999;
}

.comment .content .info a{
    display: inline-block;
    text-decoration: none;
    margin-top: 16px;
    color: #000;
    background: #e6e6e6;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    border-radius:3px;
}

.comment .comment{
    padding-left: 6%;
}

.content h3{
    font-weight: 400;
    font-size:20px;
}
