.menu-blog{
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
    font-size:15px;
}

.menu-blog h3{
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.menu-blog li:last-child{
    border-bottom: 0px solid #000;
}

.menu-blog ul{
    list-style: none;
}

.menu-blog li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-blog li a{
    display: block;
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
}

.menu-blog li a span{
    color:#ccc;
    position: absolute;
    right: 0;
}
