.recent-post{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background: #f9fafb;
    
}

.recent-post .recent{
    display: flex;
}

.recent-post .recent .image img{
    height: 80px;
    width: 80px;
}

.recent-post .recent .titulo a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: block;
    font-weight: 300;
    transition: 0.5s;
}

.recent-post .recent .titulo a:hover{
    color: #f9ab30;
}

.recent-post .recent .titulo{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;  
}

.recent-post .recent .fechas-icono{
    display: flex;  
    width: 100%;
    flex-wrap: wrap;
    margin:-17px;
}

.recent-post .info{
    margin-top: 25px;
}

.recent-post .recent .fechas-icono .info .icon, .recent-post .recent .fechas-icono .info span{
    font-size: 10px;
    color: #999;
    vertical-align: middle;
}

.recent-post .recent .fechas-icono .info .icon{
    font-size: 15px;
    margin-left: 10px;
}
