<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Adventure</title>
</head>
<body>
    
    <div class="adventure">
        <div class="container">
            <div class="adventure-section">
                <div class="adventure-col">
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="microphone"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="locate"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="person"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="map"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="adventure-col">
                    2
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>