<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure</title>
</head>
<body>
    
    <div class="adventure">
        <div class="container">
            <div class="adventure-section">
                <div class="adventure-col">
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="microphone"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="locate"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="person"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="icon">
                            <ion-icon name="map"></ion-icon>
                        </div>
                        <div class="adventure-info">
                            <h3>Activities</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis vero optio dicta obcaecati rem atque aliquid.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="adventure-col">
                    <div class="adventure-info2">
                        <h2>It's time to start your adventure</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus rem facilis quos quaerat reprehenderit quia doloribus doloremque ut ipsa, ea recusandae. Magnam quod a saepe, expedita fugit nam culpa harum.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, dolorem ad. Laboriosam ducimus tenetur unde.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque animi quos asperiores assumenda exercitationem pariatur. Minus quaerat repellat sit facere veritatis, molestias deleniti natus impedit possimus doloremque, ratione earum.
                        </p>
                    </div>
                    <div class="buttom">
                        <a href="#">Search Destination</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>