<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vacation travel agency</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
	<div class="author">
		<div class="img">
			<img src="../images/person_1.jpg"/>
		</div>
		<div class="content">
			<h2>George Washington</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
		</div>
	</div>
</body>
</html>
