<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/button-pag.js"></script>
    <title>Button-Pag</title>
</head>
<body>
    <div class="button-pag-row">
        <button class="botoncito"></button>
        <button class="botoncito"></button>
        <button class="botoncito"></button>
        <button class="botoncito"></button>
        <button class="botoncito"></button>
    </div>  <!---BUTTON-PAG-ROW---->

</body>
</html>