<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Comment</title>
</head>
<body>
    
    <div class="container">
        <div class="comment">
            <div class="comment-grid">
                <div class="image">
                    <img src="../images/person_1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>John Doe</h3>
                    
                    <div class="info">
                        <span>OCTOBER 03, 2018 AT2:21PM</span>
                        
                        <P>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, laborum placeat ea aperiam et, ipsum consequatur non aspernatur maxime quas rem esse laboriosam quae rerum fuga facilis numquam amet cumque!
                        </P>
                        
                        <a href="#">R E P L Y</a>
                    </div> <!--Fin de info-->
                </div><!--Fin de content-->
            </div><!--Fin de comment-grid-->
        </div><!--Fin de comment-->
    </div><!--Fin de container-->
    
</body>
</html>
