<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Destinaterio</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/707e45c747.js"></script>
  <style>
    .tour-grid{
      display: flex;
      flex-wrap: wrap;
    }
    .tour-col{
      width: 33.33%;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="tour-grid">
      <div class="tour-col">

        <div class="destination">
          <div class="photo">

            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>


          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-mountain"></i>Near Mountain</p>

            </div><!--icon-->
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->

      <div class="tour-col">

        <div class="destination">
          <div class="photo" style="background-image: url(../images/destination-2.jpg)">
            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>


          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-umbrella-beach"></i>Near Beach</p>

            </div>
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->

      <div class="tour-col">

        <div class="destination">
          <div class="photo" style="background-image: url('../images/destination-3.jpg')">
            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>
          
          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-umbrella-beach"></i>Near Beach</p>

            </div>
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->

      <div class="tour-col">

        <div class="destination">
          <div class="photo" style="background-image: url('../images/destination-4.jpg')">
            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>


          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-umbrella-beach"></i>Near Beach</p>

            </div>
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->

      <div class="tour-col">

        <div class="destination">
          <div class="photo" style="background-image: url('../images/destination-5.jpg')">
            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>


          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-umbrella-beach"></i>Near Beach</p>

            </div>
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->

      <div class="tour-col">

        <div class="destination">
          <div class="photo" style="background-image: url('../images/destination-6.jpg')">
            <div class="destination-btn">
              <a href="#">$300/person</a>
            </div>
          </div>


          <div class="destination-info">
            <p>8 Days tour</p>
            <h2>Bali, Indonesia</h2>
            <h4><i class="gray fas fa-map-marked-alt"></i>Bali, Indonesia</h4>

            <div class="icon">
              <p><i class="fas fa-bath"></i>2</p>
              <p><i class="fas fa-bed"></i>3</p>
              <p><i class="fas fa-umbrella-beach"></i>Near Beach</p>

            </div>
          </div><!--destination-info-->

        </div><!--destination-->
      </div><!--tour-col-->
    </div>
  </div><!--container-->



</body>
</html>