<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Feedback</title>
</head>
<body>
    
    <div class="feedback">
        <div class="container">
            <div class="info">
                <div class="info-col">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veritatis, quis voluptatum ratione maiores amet nulla 
                        </p>
                        <div class="representante">
                            <div class="image">
                                <img src="../images/person_2.jpg" alt="">
                            </div>
                            <div class="name">
                                <h3>Roger Scott</h3>
                                <p>
                                    Marketing Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="info-col">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veritatis, quis voluptatum ratione maiores amet nulla 
                        </p>
                        <div class="representante">
                            <div class="image">
                                <img src="../images/person_2.jpg" alt="">
                            </div>
                            <div class="name">
                                <h3>Roger Scott</h3>
                                <p>
                                    Marketing Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="info-col">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veritatis, quis voluptatum ratione maiores amet nulla 
                        </p>
                        <div class="representante">
                            <div class="image">
                                <img src="../images/person_2.jpg" alt="">
                            </div>
                            <div class="name">
                                <h3>Roger Scott</h3>
                                <p>
                                    Marketing Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>