<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>footer</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
	<footer>
		<div class="container">
			<div class="footer-flex">
				<div class="info-col">
					<h2>Vacation</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<a class="info-icon" href="#">
						<ion-icon name="logo-twitter"></ion-icon>
						<ion-icon name="logo-facebook"></ion-icon>
						<ion-icon name="logo-instagram"></ion-icon>
					</a>   <!---INFO-ICON---->
				</div>  <!---INFO-COL---->
				<div class="info-col">
					<h2>Information</h2>
					<ul>
						<a href="#">Online Enquiry</a>
					</ul>
					<ul>
						<a href="#">General Enquiries</a>
					</ul>
					<ul>
						<a href="#">Booking Conditions</a>
					</ul>
					<ul>
						<a href="#">Privacy and Policy</a>
					</ul>
					<ul>
						<a href="#">Refund Policy</a>
					</ul>
					<ul>
						<a href="#">Call Us</a>
					</ul>
				</div>  <!---INFO-COL---->
				<div class="info-col">
					<h2>Experience</h2>
					<ul>
						<a href="#">Adventure</a>
					</ul>
					<ul>
						<a href="#">Hotel and Restaurant</a>
					</ul>
					<ul>
						<a href="#">Comping</a>
					</ul>
					<ul>
						<a href="#">Beach</a>
					</ul>
					<ul>
						<a href="#">Nature</a>
					</ul>
					<ul>
						<a href="#">Party</a>
					</ul>
				</div>  <!---INFO-COL---->
				<div class="info-col">
					<h2>Vacation</h2>
					<div class="date">
						<div class="line">
							<div class="line-icon">
						 		<ion-icon name="pin"></ion-icon>
							</div>
							<div class="line-text-1">
						 		203 Fake St. Mountain View, San Francisco, California, USA
							</div>
						</div> <!----LINE---->
						<a class="line" href="#">
							<div class="line-icon">
						 		<ion-icon name="call"></ion-icon>
							</div>
							<div class="line-text">
						 		+2 392 3929 210
							</div>
						</a> <!----LINE---->
						<a class="line" href="#">
							<div class="line-icon">
						 		<ion-icon name="mail-unread"></ion-icon>
							</div>
							<div class="line-text">
						 		info@yourdomain.com
							</div>
						</a> <!----LINE---->
					</div>
				</div>  <!---INFO-COL---->
			</div>  <!---FOOTER_FLEX---->
			<div class="pie-de-fondo">Copyright ©2019 All rights reserved | This template is made with<ion-icon name="heart"></ion-icon>by Colorlib</div>
		</div>  <!---CONTAINER---->
	</footer>
</body>
</html>