<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
	<form action="#">

		<div class="form">
			<label for="Name">Name *</label>
			<input type="text" placeholder="Your Name">
			<label for="Email">Email *</label>
			<input type="email" placeholder="Your Email">
			<label for="Website">Website</label>
			<input type="texto" placeholder="Subject">
			<label for="Message">Message</label>
			<textarea name="" id="" rows="10" placeholder="Message"></textarea>

			<button type="Submit" class="btn">Send Message</button>
		</div>
		
	</form>
</body>
</html>