<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vacation travel agency</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<script src="https://kit.fontawesome.com/707e45c747.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="../js/menu.js"></script>
</head>
<body>
	<div class="hero">

		<div class="mask">

			<div class="container">

				<header>
					<div class="logo">
						<div class="big">Vacation</div>
						<div class="small">TRAVEL AGENCY</div>
						
					</div>
					<div class="menu-responsive">
						<a href="#"><i class="fas fa-bars"></i>MENU</a>
					</div>
					<nav>

						<ul>
							<li>
								<a href="#">Home</a>
							</li>
							<li class="about-link">
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Destination</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li class="book">
								<a href="#">Book Now</a>
							</li>
						</ul>
					</nav>

				</header>

				<div class="bottom">
					<h1>About Us</h1>
					<h3>
						<a>Home ></a>
						<a>About Us ></a>
					</h3>
				</div>

			</div><!--container-->

		</div><!--mask-->

	</div><!--hero-->
</body>
</html>
