<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Menu Blog</title>
</head>
<body>
    
    <div class="container">
        <div class="menu-blog">
            <h3>Categories</h3>
            <ul>
                <li>
                    <a href="#">
                        Travel
                        <span>(12)</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        Tour
                        <span>(22)</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        Destination
                        <span>(37)</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        Drinks
                        <span>(42)</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        Foods
                        <span>(44)</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        Travel
                        <span>(140)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>