<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>post</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<style>
  	.post-grid{
		display: flex;
		flex-wrap: wrap;
  	}
  	.post-col{
  		width: 33.33%;
  		padding: 12px;
  	}

  	@media screen and (max-width: 990px){
  		.post{
  			margin-top: 20px;
  		}

  		.post-col{
  			width: 50% !important;
  		}
  	}

  	@media screen and (max-width: 685px){
  		.post-col{
  			width: 100% !important;
  		}
  	}
  </style>
</head>
<body>
	<div class="container">
		<div class="post-grid">
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
			<div class="post-col">
				<!--POST----->
				<div class="post">
					<a href="#" class="image">
						<img src="../images/image_1.jpg">
						<div class="date">
							<div class="num">21</div>
							<div class="div">2019<br> 	
							August</div>
						</div>
					</a>
					<h2>
						Why Lead Generation is Key for Business Growth
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta delectus esse unde quia, cumque, voluptatum voluptate nobis laborum rem voluptatem, perferendis ea maiores debitis odit tempore ad! Necessitatibus, doloremque inventore!</p>
				</div>  <!--POST----->
			</div> <!--COL----->
		</div>
	</div>
</body>
</html>