<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Recent Post</title>
</head>
<body>
    <div class="container">
        <div class="recent-post">
            <div class="recent">
                <div class="image">
                    <img src="../images/image_1.jpg" alt="">
                </div>
                <div class="titulo">
                    <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                    
                    <div class="fechas-icono">
                        
                        <div class="info">
                            <ion-icon name="calendar" class="icon"></ion-icon>
                            <span>August 21, 2019</span>
                        </div>
                        <div class="info">
                            <ion-icon name="person" class="icon"></ion-icon>
                            <span>Admin</span>
                        </div>
                        <div class="info">
                            <ion-icon name="text" class="icon"></ion-icon>
                            <span>19</span>
                        </div>
                    </div><!--.fechas-icono-->
                </div><!--.titulo-->
            </div><!--cierra recent-->
        </div><!--cierra recent-post-->
    </div>
</body>
</html>
