<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Search-Bar</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<body>
	<div class="container">
		<div class="search-blog">
			<div class="search-col">
				<input class="input-search" type="text" placeholder="Type a keyword and hit enter">
				<ion-icon name="ios-search"></ion-icon>
			</div> <!----SEARCH-COL----->
		</div> <!----SEARCH-BLOG----->
	</div>  <!----CONTAINER----->
</body>
</html>