<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <title>Tags</title>
</head>
<body>
    
    <div class="container">
        <div class="tags">
            <h3>Tag Cloud</h3>
            <div class="tag-individuales">
                <a href="#">DISH</a>
                <a href="#">MENU</a>
                <a href="#">FOOD</a>
                <a href="#">SWEET</a>
                <a href="#">TASTY</a>
                <a href="#">DELICIOUS</a>
                <a href="#">DESSERTS</a>
                <a href="#">DRINKS</a>
            </div>
        </div>
    </div>

</body>
</html>