<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>tour</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">

  <style>
  	.tour-grid{
		display: flex;
		flex-wrap: wrap;
  	}
  	.tour-col{
		  width: 25%;
		  padding:10px;
  	}
  </style>
</head>
<body>
  	<div class="container">
  		<div class="tour-grid">
  			<div class="tour-col">
  				<!-- tour-->
  				<div class="tour">
					<a href="#">
						<h2>Canada</h2>
						<div class="info">2 Tour</div>
					</a>
  				</div><!--tour-->
			</div>
			<div class="tour-col">
				<!-- tour-->
				<div class="tour">
				  <a href="#">
					  <h2>Canada</h2>
					  <div class="info">2 Tour</div>
				  </a>
				</div><!--tour-->
		  </div>
		  <div class="tour-col">
			<!-- tour-->
			<div class="tour">
			  <a href="#">
				  <h2>Canada</h2>
				  <div class="info">2 Tour</div>
			  </a>
			</div><!--tour-->
	  </div>
	  <div class="tour-col">
		<!-- tour-->
		<div class="tour">
		  <a href="#">
			  <h2>Canada</h2>
			  <div class="info">2 Tour</div>
		  </a>
		</div><!--tour-->
  </div>
		</div>
  	</div>
	

</body>
</html>