<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">

  <style>
  	.tour-grid{
		display: flex;
		flex-wrap: wrap;
  	}
  	.tour-col{
  		width: 25%;
  	}
  </style>
</head>
<body>
  	<div class="container">
  		<div class="tour-grid">
  			<div class="tour-col">
  				<!-- tour-->
  				<div class="tour">
  					2
  				</div><!--tour-->
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  			<div class="tour-col">
  				<div class="tour">
  					2
  				</div>
  			</div>
  		</div>
  	</div>
	

</body>
</html>