<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Travel The World</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
	<div class="container">

		<div class="travel-the-world">
			<div class="travel-photo"></div>
			<div class="travel-info">
				<h2>Make Your Tour Memorable and Safe With Us</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

				<div class="travel-info2">
					<div class="one">
						<h3>300</h3>
						<p>Successful Tours</p>
					</div>
					<div class="one">
						<h3>24,000</h3>
						<p>Happy Tourist</p>
					</div>
					<div class="one">
						<h3>200</h3>
						<p>Place Explored</p>
					</div>
				</div><!--travel-info2-->
			</div><!--travel-info-->
		</div><!--travelTheWorld-->

		
	</div><!--container-->
	
</body>
</html>