<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vacation travel agency</title>
	<link rel="stylesheet" href="../stylesheets/styles.css">
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
 <style>
  	.flex{
		display: flex;
		flex-wrap: wrap;
  	}
  	.col{
  		width: 25%;
  	}
  </style>	
</head>
<body>
	
	<div class="flex">
		<div class="col">
			<div class="vacation-icon">
				<div class="box">
					<ion-icon name="map" class="icon"></ion-icon>
				</div>
				<div>
					<h3>Address</h3>
					<p>198 west 21 Street, Suite<br> 721 New York NY 10016</p>
				</div>
								
			</div>
		</div>
		<div class="col">
			<div class="vacation-icon">
				<div class="box">
					<ion-icon name="call" class="icon"></ion-icon>
				</div>
				<div class="contact">
					<h3>Contact number</h3>
					<a href="#">+ 1235 2355 98</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="vacation-icon">
				<div class="box">
					<ion-icon name="paper-plane" class="icon"></ion-icon>
				</div>
				<div>
					<h3>Email Address</h3>
					<a href="#">info@yoursite.com</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="vacation-icon">
				<div class="box">
					<ion-icon name="globe" class="icon"></ion-icon>
				</div>
				<div>
					<h3>Website</h3>
					<a href="#">yoursite.com</a>
				</div>		
			</div>
		</div>
	</div>
	
</body>
</html>
