.blog-view{

}


.blog-view .flex-3{
	display: flex;
	flex-wrap: wrap;
	padding-top: 20%;
	margin-left: -10px;
	margin-right: -10px;
}



.blog-view .flex-3 .col{
	width: 33.33%;
	padding: 10px;
	margin-bottom: 30px;
}


.blog-view .flex-3 .col:nth-child(4){
	margin-top: 0;
}

.blog-view .flex-3 .col:nth-child(5){
	margin-top: 0;
}

.blog-view .flex-3 .col:nth-child(6){
	margin-top: 0;
}


.blog-view .flex-3 .col img{
	height: 238px;
    object-fit: cover;
}

.blog-view .row-next-page{
	margin-top: 80px;
	margin-bottom: 80px;
}

@media screen and (max-width: 765px){
	.blog-view .flex-3 .col{
		width: 50%;
	}

	.blog-view .post h2{
		font-size: 19px;
	}
}

@media screen and (max-width: 435px){
	.blog-view .flex-3 .col{
		width: 100%;
	}
}