.contact-view{
}
.contact-view .flex-4{
	display: flex;
}

.contact-view .flex-4 .col{
	width: 25%;
}

.contact-view .container.icons{
	padding: 7% 0;
}

.contact-view .flex-2 .col{
	width:50%;
	padding:15px;
}

.contact-view .flex-2{
	display:flex;
}

.contact-view footer{
	margin-top:5%;
}

.contact-view .hero{
	background-attachment:fixed;
}

/*EMPIEZA PARA TABLET*/

@media screen and (max-width:768px){
	.contact-view .flex-4{
		flex-wrap:wrap;
	}
	
	.contact-view .flex-4 .col{
		width:50%;
	}
	
	.contact-view .flex-4 .col .vacation-icon{
		margin-bottom:25px;
	}
	
	.contact-view .flex-2{
		flex-wrap:wrap;
	}
	
	.contact-view .flex-2 .col{
		width:100%;
	}
}
/*TERMINA PARA TABLET*/

/*EMPIEZA PARA CELULAR*/

@media screen and (max-width:400px){
	.contact-view .flex-4 .col{
		width:100%;
	}
}






