.destinatio-view{

}

.destinatio-view .section-title h2{
	font-size: 40px;
	padding-top: 150px;
	padding-bottom: 50px;
}



.destinatio-view .row-four{
	display: flex;
}

.destinatio-view .row-four .col{
	width: 25%;
	padding: 10px;
}