.home .flex-4{
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.home .flex-4 .tour-col{
    width: 25%;
    padding: 20px;
}

.home .flex-6{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.home .flex-6 .col{
    width: 33.33%;
}

.home .flex-3{
    display: flex;
}

.home .flex-3 .col{
    width: 33.33%;
}